@import 'variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px;
  text-align: center;
  color: $background-color;

  &__title {
    margin: 0 0 .3rem;
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__logo-img {
    border: none
  }
}